html.dark {
  background-color: #111;
  color: white;
}

html.dark input {
  background-color: #444;
  outline: 0;
  border: 0;
  color: #fff;
  padding: 4px 4px;
  font-size: 1.1rem;
}

html.dark button {
  background-color: #0f88ce;
  color: white;
}

html.dark button:hover {
  background-color: #1d97dd;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 4px 2px;
  font-size: 1.2rem;
  border: 0;
  cursor: pointer;
}

fieldset {
  margin-bottom: 10px;
}

.toggleBtn {
  margin-bottom: 10px;
}
